<div id="<%= dom_id artist %>">
  <p>
    <strong>Artist:</strong>
    <%= artist.artist %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= artist.slug %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= artist.bio %>
  </p>

  <p>
    <strong>Active years:</strong>
    <%= artist.active_years %>
  </p>

</div>
