<div id="<%= dom_id person %>">
  <p>
    <strong>Personname:</strong>
    <%= person.personname %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= person.slug %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= person.notes %>
  </p>

  <p>
    <strong>Appearances:</strong>
    <%= person.appearances %>
  </p>

</div>
