<div id="<%= dom_id transition %>">
  <p>
    <strong>Transition:</strong>
    <%= transition.transition %>
  </p>

  <p>
    <strong>Dropdown:</strong>
    <%= transition.dropdown %>
  </p>

  <p>
    <strong>Default transition:</strong>
    <%= transition.default_transition %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= transition.desc %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= transition.updated_at %>
  </p>

</div>
