<div id="<%= dom_id setlist %>">
  <p>
    <strong>Show:</strong>
    <%= setlist.show_id %>
  </p>

  <p>
    <strong>Song:</strong>
    <%= setlist.song_id %>
  </p>

  <p>
    <strong>Displayname:</strong>
    <%= setlist.displayname %>
  </p>

  <p>
    <strong>Setnumber:</strong>
    <%= setlist.setnumber %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= setlist.position %>
  </p>

  <p>
    <strong>Transition:</strong>
    <%= setlist.transition_id %>
  </p>

  <p>
    <strong>Footnote:</strong>
    <%= setlist.footnote %>
  </p>

  <p>
    <strong>Tracktime:</strong>
    <%= setlist.tracktime %>
  </p>

  <p>
    <strong>Isjam:</strong>
    <%= setlist.isjam %>
  </p>

  <p>
    <strong>Isreprise:</strong>
    <%= setlist.isreprise %>
  </p>

  <p>
    <strong>Uniqueid:</strong>
    <%= setlist.uniqueid %>
  </p>

  <p>
    <strong>Isjamchart:</strong>
    <%= setlist.isjamchart %>
  </p>

  <p>
    <strong>Jamchartnote:</strong>
    <%= setlist.jamchartnote %>
  </p>

</div>
