<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= song.slug %>
  </p>

  <p>
    <strong>Isoriginal:</strong>
    <%= song.isoriginal %>
  </p>

  <p>
    <strong>Original artist:</strong>
    <%= song.original_artist %>
  </p>

  <p>
    <strong>Lyrics:</strong>
    <%= song.lyrics %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= song.metadata %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= song.nickname %>
  </p>

</div>
