<p style="color: green"><%= notice %></p>

<% content_for :title, "Songs" %>

<h1>Songs</h1>

<%= form_with url: songs_path, method: :get, local: true do |form| %>
  <%= form.text_field :query, placeholder: "Search for songs" %>
  <%= form.submit "Search" %>
<% end %>

<div id="songs">
  <% @songs.each do |song| %>
    <%= render song %>
    <p>
      <%= link_to "Show this song", song %>
    </p>
  <% end %>
</div>

<%= link_to "New song", new_song_path %>
