<div id="<%= dom_id venue %>">
  <p>
    <strong>Venuename:</strong>
    <%= venue.venuename %>
  </p>

  <p>
    <strong>Streetaddress:</strong>
    <%= venue.streetaddress %>
  </p>

  <p>
    <strong>City:</strong>
    <%= venue.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= venue.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= venue.country %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= venue.zip %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= venue.url %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= venue.capacity %>
  </p>

  <p>
    <strong>Aliasof:</strong>
    <%= venue.aliasof %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= venue.slug %>
  </p>

</div>
