<div id="<%= dom_id album %>">
  <p>
    <strong>Artist:</strong>
    <%= album.artist_id %>
  </p>

  <p>
    <strong>Albumtitle:</strong>
    <%= album.albumtitle %>
  </p>

  <p>
    <strong>Displayname:</strong>
    <%= album.displayname %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= album.slug %>
  </p>

  <p>
    <strong>Releasedate:</strong>
    <%= album.releasedate %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= album.cover %>
  </p>

  <p>
    <strong>Album notes:</strong>
    <%= album.album_notes %>
  </p>

  <p>
    <strong>Is statsable:</strong>
    <%= album.is_statsable %>
  </p>

  <p>
    <strong>Lastmod:</strong>
    <%= album.lastmod %>
  </p>

  <p>
    <strong>Lastuser:</strong>
    <%= album.lastuser %>
  </p>

</div>
