<p style="color: green"><%= notice %></p>

<%= render @bandmember %>

<div>
  <%= link_to "Edit this bandmember", edit_bandmember_path(@bandmember) %> |
  <%= link_to "Back to bandmembers", bandmembers_path %>

  <%= button_to "Destroy this bandmember", @bandmember, method: :delete %>
</div>
