<div id="<%= dom_id show %>">
  <p>
    <strong>Venue:</strong>
    <%= show.venue_id %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= show.artist_id %>
  </p>

  <p>
    <strong>Showdate:</strong>
    <%= show.showdate %>
  </p>

  <p>
    <strong>Showtitle:</strong>
    <%= show.showtitle %>
  </p>

  <p>
    <strong>Meta:</strong>
    <%= show.meta %>
  </p>

  <p>
    <strong>Shownotes:</strong>
    <%= show.shownotes %>
  </p>

  <p>
    <strong>Showyear:</strong>
    <%= show.showyear %>
  </p>

  <p>
    <strong>Showorder:</strong>
    <%= show.showorder %>
  </p>

  <p>
    <strong>Settype:</strong>
    <%= show.settype %>
  </p>

  <p>
    <strong>Opener:</strong>
    <%= show.opener %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= show.tour_id %>
  </p>

  <p>
    <strong>Lastuser:</strong>
    <%= show.lastuser %>
  </p>

  <p>
    <strong>Soundcheck:</strong>
    <%= show.soundcheck %>
  </p>

  <p>
    <strong>Permalink:</strong>
    <%= show.permalink %>
  </p>

  <p>
    <strong>Isverified:</strong>
    <%= show.isverified %>
  </p>

</div>
